html,body{
    height: 100%;
}

#root{
    height: 100%;
}
.shopping-page{
    display: flex;
    height: 100%;
}
.shopping-page .layout{
    background-color: #000000;
    flex-basis: 33%;
    flex-shrink: 1;
    height: 100%;
}
.shopping-page .layout .broadcast{
    width: 100%;
    height: 100%;
    background-image: url('/src/page/live-shopping.png');
    background-size: cover;
}
