html,
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
.shopping-page {
  display: flex;
  max-width: 100%;
  height: 100vh;
}
.shopping-page .layout {
  display: inherit;
  justify-content: center;
  background-color: #000000;
  height: 100%;
  width: 100%;
}
.shopping-page .layout .broadcast {
  padding: 0 auto;
  width: 56.25vh;
  height: 100vh;
  background-image: url("/src/page/live-shopping.png");
  background-size: cover;
}
